{% extends 'base.html.twig' %}
{% block main %}
<div class="container" style="margin: auto">
        <h1 class="col-lg-12 well">Buscar Auto</h1>
        <div class="col-lg-12 well">
            <div class="row">
                <form name="form" method="post" action="index.php?action=carsList" enctype="multipart/form-data">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Fecha desde</label>
                                <input type="date" class="form-control" name="fechaDesde" required="true">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Fecha hasta</label>
                                <input type="date" class="form-control" name="fechaHasta" required="true">
                            </div> 
                        </div>                  
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <dl class="form-group">
                                    <dt><label>Destino</label></dt>
                                    <dd>
                                        <input name="ciudadDestino" id="ciudadDestino" type="text" placeholder="Ciudad" class="form-control" required="true">    
                                    </dd>
                                    <dd style="margin-top: 3%">
                                        <input name="paisDestino" id="paisDestino" type="text" placeholder="Pais" class="form-control" required="true">    
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Capacidad</label>
                                <input type="number" class="form-control" name="capacidad" id="capacidad" min="0" value="0" onkeypress="return justNumbers(event);" required="true">
                            </div>
                        </div>                 
                        <div align="center">
                            <button type="submit" class="btn btn-primary navbar-btn">Buscar</button>
                            <button type="reset" class="btn btn-default navbar-btn">Restablecer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}